body {
    color: #EEEEEE;
    background-color: #222222;
    font-family: "Open Sans";
    width: 100%;
    min-height: 100%;
    font-size: 16px;
}

html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #30A2EC;
}

.customButton {
    border: #111111 2px solid;
    color: #EEEEEE;
    background-color: #333333;
    text-align: center;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    user-select: none;
    transition: transform .1s;
    margin: 10px;
    
}


code {
    padding: 5px;
    border-radius: 3px;
    background-color: #202225;
    border: 1px solid black;
}

.left {
    padding-right: 20px;
}
.right {
    padding-left: 20px;
}

table {
    width: 100vw;
    background-color: #111111;
    border-radius: 20px;
    padding: 20px;
}

.top {
    font-weight: bold;
    border-bottom: solid 3px #EEEEEE;
}

td {
    border-right: solid 2px #7c7c7c;
    padding: 5px;
    width: max-content;
    overflow-y: hidden;
    max-width: 80vw;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    }
    .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #1a83da;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
    0% {
    transform: scale(0);
    }
    100% {
    transform: scale(1);
    }
    }
    @keyframes lds-ellipsis3 {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(0);
    }
    }
    @keyframes lds-ellipsis2 {
    0% {
    transform: translate(0, 0);
    }
    100% {
    transform: translate(24px, 0);
    }
    }